.root {
	@apply w-52 h-52 p-4 bg-white text-foreground border-0.5 border-gray-400
    flex flex-col;
	& * {
		@apply mb-2;
	}
}

.number {
	@apply font-sans text-xl tracking-widest antialiased;
	-webkit-text-stroke: 1px var(--foreground);
	-webkit-text-fill-color: transparent;
}

.project {
	@apply text-lg antialiased;
	font-family: "Canela-Medium";
}

.client {
	@apply text-base tracking-wide;
	font-family: "Canela-LightItalic";
}

[data-theme="dark"] .root {
	@apply bg-cool-gray-600 text-white;
}
