html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--white: white;
	--black: #121212;
	/* light theme */
	--background: var(--white);
	--foreground: var(--black);
}

[data-theme="dark"] {
	/* dark theme */
	--background: var(--black);
	--foreground: var(--white);
}
